@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: "Open Sans", sans-serif;
}

.App {
    width: 400px;
    margin: auto;
    padding: 10px;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

span {
    cursor: pointer;
    color: red;
}

a {
    text-decoration: none;
}
a:link,
a:visited {
    color: blue;
}
a:hover {
    color: red;
}
